* {
  box-sizing: border-box;
}

.jumbotron {
  background-image: url('/images/cupcakes-dots.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*Don't forget to crop or use height instead*/
}

.navbar {
  color: transparent;
  /* background-color: #f47c98cc; */
  box-shadow: 0 0 10px 0 #0000001a;
  padding: 10px 0;
}

.nav .justify-content-center {
  justify-content: center;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.nav .nav-item {
  color: #bd1616;
}

.main-header::before {
  position: absolute;
  content: '';
  top: 0;
  height: 12px;
  width: 100%;
  background: repeating-linear-gradient(
    -45deg,
    #cb5a5e,
    #cb5a5e 12px,
    transparent 10px,
    transparent 23px
  );
}
.inner-custom {
  height: 400px;
  background-size: cover;

  background-position: center;
}
.inner-custom:nth-of-type(1) {
  background-image: url('./images/coffee-ground.jpg');
}
.inner-custom:nth-of-type(2) {
  background-image: url('./images/coffee-latte.jpg');
}
.inner-custom:nth-of-type(3) {
  background-image: url('./images/cookie-chip.jpg');
}
/*home subsection*/
.home-subsection {
  bottom: 0;
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
.subsection-item {
  color: #fff;
  padding: 10px;
  text-align: center;
}
h2.home-title {
  font-family: 'Rancho', sans-serif;
  font-size: 22px;
}
.subsection-item > h2 > p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
