* {
  box-sizing: border-box;
}

.jumbotron {
  background-image: url('/images/cupcakes-dots.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*Don't forget to crop or use height instead*/
}

.jumbotron {
  font-family: 'Rancho', sans-serif;
  text-align: right;
  text-shadow: 2px 2px 10px #a96472;
}

.container > p {
  text-shadow: 2px 2px 10px #579c95;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*Navigation*/

.navbar-brand {
  display: block;
  max-width: 100%;
  height: auto;
}

.bg-light {
  background-color: rgba(99, 25, 25, 0.25) !important;
}
.main-header {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-align: center;
  position: fixed;
  width: 100%;
  /* background-color: #f47c98cc; */
  /* box-shadow: 0 0 10px 0 #0000001a;
  padding: 10px 0; */
}

.justify-content-center {
  justify-content: center;
}

.navbar-light .navbar-toggler {
  border-color: black;
}

.nav .nav-item {
  color: #bd1616;
}

.main-header::before {
  position: absolute;
  content: '';
  top: 0;
  height: 12px;
  width: 100%;
  background: repeating-linear-gradient(
    -45deg,
    #cb5a5e,
    #cb5a5e 12px,
    transparent 10px,
    transparent 23px
  );
}
/*carousel*/
.inner-custom {
  height: 400px;
  background-size: cover;
  background-position: center;
}
.inner-custom:nth-of-type(1) {
  background-image: url('./images/coffee-ground.jpg');
}
.inner-custom:nth-of-type(2) {
  background-image: url('./images/coffee-latte.jpg');
}
.inner-custom:nth-of-type(3) {
  background-image: url('./images/cookie-chip.jpg');
}
/*subsection*/
.home-subsection {
  bottom: 0;
  position: absolute;
  width: 100%;
  background: #00000080;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
.subsection-item {
  color: #fff;
  padding: 10px;
  text-align: center;
}
h2.home-title {
  font-family: 'Rancho', sans-serif;
  font-size: 22px;
}
.subsection-item > h2 > p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
/*About Us*/
.long-title {
  font-family: 'Rancho', sans-serif;
  font-size: 34px;
  color: #494949;
}
.long-title > span {
  font-family: 'Rancho', sans-serif;
  color: #fc7790;
}
.about-us > p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #494949;
}
.about-us > .sign {
  font-family: 'Mrs Saint Delafield', cursive;
  font-size: 34px;
  color: #494949;
}
/*Our Baked Goods*/
/* .card {
  border-radius: 10%;
} */
.cupcakes {
  padding-bottom: 40px;
}
.single-baked {
  text-align: center;
  border-radius: 5%;
  box-shadow: 2px 2px 10px #ccc;
}
.single-baked > .lime {
  border-radius: 15px 15px 0 0;
  min-width: 100%;
  max-width: 100%;
}
.single-baked > p {
  color: #494949;
  font-family: 'Rancho', sans-serif;
  font-size: 25px;
  margin: 0;
}
.single-baked > p:nth-of-type(2) {
  font-family: 'Roboto', sans-serif;
  background: #ff94a8;
  border-radius: 0 0 15px 15px;
}
.single-baked > p:nth-of-type(2) a {
  color: #ffffff;
  font-size: 20px;
}
.single-baked > p:nth-of-type(2) a:hover {
  color: #9476d6;
  text-decoration: none;
}
/*History*/
.main-story {
  background-color: #f7f7f7;
  padding-bottom: 20px;
  margin: 25px;
}
.story {
  font-family: 'Rancho', sans-serif;
  color: #579c95;
  font-size: 40px;
  width: 100%;
  text-align: center;
  padding: 25px 0;
}
.container-pink {
  background-color: #e6748dbf;
  border-color: #a96472;
  border-width: 0 0 5px 0;
  border-style: solid;
  border-radius: 20px;
  color: #ffffff;
  padding: 2em 0 2em;
}
.container-pink > .caption-body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  padding: 0 50px;
}
/*Footer*/
footer {
  background-color: pink;
  height: 100px;
}
.copyright {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}
.icon-container {
  background-color: #cb5a5e;
  color: #ccc;
  margin: 0 auto;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
i {
  height: 100%;
}
/* .last {
  padding: 25px 0;
}
.col-3 > .icon {
  color: #ffff;
  background-color: #cb5a5e;
  font-size: 20px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: 30px;
} */
